@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:400);





body {
  font-family: Muli;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.75rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Indie Flower', handwriting;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #0b4e0f !important;
}
.bg-success {
  background-color: #0f7699 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #767676 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #0b4e0f;
  border-color: #0b4e0f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #020b02;
  border-color: #020b02;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #020b02 !important;
  border-color: #020b02 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ffa200;
  border-color: #ffa200;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #b37100;
  border-color: #b37100;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b37100 !important;
  border-color: #b37100 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0f7699;
  border-color: #0f7699;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #084053;
  border-color: #084053;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #767676;
  border-color: #767676;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #505050;
  border-color: #505050;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #0b4e0f;
  border-color: #0b4e0f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0b4e0f !important;
  border-color: #0b4e0f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #996100;
  color: #996100;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ffa200;
  border-color: #ffa200;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa200 !important;
  border-color: #ffa200 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0b4e0f !important;
}
.text-secondary {
  color: #ffa200 !important;
}
.text-success {
  color: #0f7699 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #767676 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #996100 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #062e3c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #434343 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #767676;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0b4e0f;
  border-color: #0b4e0f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #0b4e0f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #57e760;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6b6b6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #0b4e0f;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #0b4e0f;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #0b4e0f;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0b4e0f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0b4e0f;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qC1BYJ0hPT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qC1BYJ0hPT .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
  text-align: center;
}
.cid-qC1BYJ0hPT .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-qC1BYJ0hPT .btn {
  margin: 0px !important;
}
.cid-qC1BYJ0hPT .second-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qC1BYJ0hPT .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qC1BYJ0hPT .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qC1BYJ0hPT .carousel-item .wrap-img {
  text-align: center;
}
.cid-qC1BYJ0hPT .carousel-item .wrap-img img {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}
.cid-qC1BYJ0hPT .carousel {
  display: flex;
  flex-direction: column-reverse;
}
.cid-qC1BYJ0hPT .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
.cid-qC1BYJ0hPT .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-block;
}
.cid-qC1BYJ0hPT .carousel-indicators li.active {
  border: 4px solid #8d8d8d;
  border-color: #a3a3a3;
}
@media (max-width: 768px) {
  .cid-qC1BYJ0hPT .second-col {
    padding-top: 2rem;
  }
}
.cid-qC1HlCyAsj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/screen-shot-2017-11-29-at-1.47.14-pm-599x572.png");
}
.cid-qC1HlCyAsj .content-row {
  flex-direction: column-reverse;
  padding: 1rem;
}
.cid-qC1HlCyAsj .card-img span {
  font-size: 80px;
}
.cid-qC1HlCyAsj .title {
  letter-spacing: 0.1em;
  margin: 0px;
}
.cid-qC1HlCyAsj .price {
  padding: 35px 10px 10px;
  letter-spacing: 0.03em;
  text-align: center;
}
.cid-qC1HlCyAsj .mbr-section-btn {
  padding: 1rem;
}
.cid-qC1HlCyAsj .price-value {
  line-height: 60px;
  margin-top: 11px;
}
.cid-qC1HlCyAsj .plan {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-word;
  position: relative;
  color: #333333;
}
.cid-qC1HlCyAsj .plan .list-group-item {
  border: none !important;
  position: relative;
  padding: 17px 10px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1.8;
}
.cid-qC1HlCyAsj .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qC1HlCyAsj .plan .list-group-item:last-child::after {
  height: 1px;
}
.cid-qC1HlCyAsj .plan-title {
  color: #232323;
  margin: 0px;
  letter-spacing: 0.1em;
}
.cid-qC1HlCyAsj .plan-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  padding: 1rem;
}
.cid-qC1HlCyAsj .plan-body {
  border: 1px solid transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  background-color: #efefef;
}
.cid-qC1HlCyAsj .title,
.cid-qC1HlCyAsj .card-img {
  text-align: center;
}
.cid-qC1HlCyAsj .pricing-row {
  padding-top: 2rem;
}
.cid-qC2p4spUFX {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qC2p4spUFX .mbr-text {
  color: #444;
  letter-spacing: 0.1em;
}
.cid-qC2p4spUFX .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qC2p4spUFX .social-list .mbr-iconfont-social {
  font-size: 1.1rem;
  color: black;
}
.cid-qC2p4spUFX .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qC2p4spUFX .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qC2p4spUFX .social-list a:hover {
  opacity: .4;
}
@media (max-width: 991px) {
  .cid-qC2p4spUFX .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qC2p4spUFX .media-container-row > div {
  padding: 0px;
}
@media (max-width: 991px) {
  .cid-qC2p4spUFX .mbr-text {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}
.cid-qC2p4spUFX .links {
  text-align: left;
}
.cid-qCoSCD1YNJ .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-qCoSCD1YNJ .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qCoSCD1YNJ .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-qCoSCD1YNJ .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qCoSCD1YNJ .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qCoSCD1YNJ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qCoSCD1YNJ .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qCoSCD1YNJ .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qCoSCD1YNJ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qCoSCD1YNJ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qCoSCD1YNJ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qCoSCD1YNJ .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qCoSCD1YNJ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qCoSCD1YNJ .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qCoSCD1YNJ .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qCoSCD1YNJ .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qCoSCD1YNJ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qCoSCD1YNJ .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-qCoSCD1YNJ .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: 70%;
    word-break: break-word;
  }
  .cid-qCoSCD1YNJ .navbar .navbar-toggler {
    flex-basis: 30%;
  }
  .cid-qCoSCD1YNJ .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qCoSCD1YNJ .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qCoSCD1YNJ .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qCoSCD1YNJ .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qCoSCD1YNJ .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qCoSCD1YNJ .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qCoSCD1YNJ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qCoSCD1YNJ .dropdown-item.active,
.cid-qCoSCD1YNJ .dropdown-item:active {
  background-color: transparent;
}
.cid-qCoSCD1YNJ .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qCoSCD1YNJ .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qCoSCD1YNJ .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qCoSCD1YNJ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qCoSCD1YNJ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qCoSCD1YNJ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qCoSCD1YNJ ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qCoSCD1YNJ .navbar-buttons {
  text-align: center;
}
.cid-qCoSCD1YNJ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qCoSCD1YNJ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qCoSCD1YNJ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qCoSCD1YNJ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qCoSCD1YNJ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qCoSCD1YNJ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qCoSCD1YNJ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qCoSCD1YNJ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qCoSCD1YNJ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qCoSCD1YNJ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qCoSCD1YNJ .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qCoSCD1YNJ a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qCoSCD1YNJ .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qCoSCD1YNJ .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qCoSCD1YNJ .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-qC2FxArYvU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qC2FxArYvU .title {
  margin-bottom: 2rem;
}
.cid-qC2FxArYvU a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qC2FxArYvU a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qC2FxArYvU .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qC2FxArYvU .input-group-btn {
  display: block;
}
.cid-qC2FxArYvU h2 {
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.cid-qC2FxArYvU h3 {
  color: #767676;
  letter-spacing: 0.03em;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.cid-qC2FxArYvU .mbr-section-subtitle P {
  text-align: left;
}
.cid-qC2FxArYvU .mbr-form input,
.cid-qC2FxArYvU textarea {
  border-radius: 0px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  .cid-qC2FxArYvU h2 {
    text-align: center;
  }
  .cid-qC2FxArYvU h3 {
    text-align: center;
  }
  .cid-qC2FxArYvU .input-group-btn {
    text-align: center;
  }
  .cid-qC2FxArYvU .social-list {
    text-align: center;
  }
}
.cid-qC2AsOIyBQ {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qC2AsOIyBQ .mbr-text {
  color: #444;
  letter-spacing: 0.1em;
}
.cid-qC2AsOIyBQ .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qC2AsOIyBQ .social-list .mbr-iconfont-social {
  font-size: 1.1rem;
  color: black;
}
.cid-qC2AsOIyBQ .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qC2AsOIyBQ .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qC2AsOIyBQ .social-list a:hover {
  opacity: .4;
}
@media (max-width: 991px) {
  .cid-qC2AsOIyBQ .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qC2AsOIyBQ .media-container-row > div {
  padding: 0px;
}
@media (max-width: 991px) {
  .cid-qC2AsOIyBQ .mbr-text {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}
.cid-qC2AsOIyBQ .links {
  text-align: left;
}
.cid-qC2C96BF97 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-qC2C96BF97 .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qC2C96BF97 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-qC2C96BF97 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qC2C96BF97 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qC2C96BF97 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qC2C96BF97 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qC2C96BF97 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qC2C96BF97 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-qC2C96BF97 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: 70%;
    word-break: break-word;
  }
  .cid-qC2C96BF97 .navbar .navbar-toggler {
    flex-basis: 30%;
  }
  .cid-qC2C96BF97 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qC2C96BF97 .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qC2C96BF97 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qC2C96BF97 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qC2C96BF97 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qC2C96BF97 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qC2C96BF97 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qC2C96BF97 .dropdown-item.active,
.cid-qC2C96BF97 .dropdown-item:active {
  background-color: transparent;
}
.cid-qC2C96BF97 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qC2C96BF97 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qC2C96BF97 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qC2C96BF97 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qC2C96BF97 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qC2C96BF97 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qC2C96BF97 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qC2C96BF97 .navbar-buttons {
  text-align: center;
}
.cid-qC2C96BF97 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qC2C96BF97 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qC2C96BF97 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qC2C96BF97 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qC2C96BF97 .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qC2C96BF97 .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-qC2Il7r5Ca {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qC2Il7r5Ca .mbr-section-title {
  letter-spacing: 0.1em;
  color: #444444;
  margin-bottom: 2rem;
  text-align: center;
}
.cid-qC2Il7r5Ca .mbr-section-subtitle {
  color: #444444;
  margin-bottom: 2rem;
  letter-spacing: 0.03em;
}
.cid-qC2Il7r5Ca .btn {
  margin: 0px !important;
}
.cid-qC2Il7r5Ca .second-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qC2Il7r5Ca .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qC2Il7r5Ca .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qC2Il7r5Ca .carousel-item .wrap-img {
  text-align: center;
}
.cid-qC2Il7r5Ca .carousel-item .wrap-img img {
  max-height: 300px;
  width: auto;
  max-width: 500px;
}
.cid-qC2Il7r5Ca .carousel {
  display: flex;
  flex-direction: column-reverse;
}
.cid-qC2Il7r5Ca .carousel-indicators {
  display: block;
  position: relative;
  margin-top: 2rem;
  text-align: center;
}
.cid-qC2Il7r5Ca .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-block;
}
.cid-qC2Il7r5Ca .carousel-indicators li.active {
  border: 4px solid #8d8d8d;
  border-color: #a3a3a3;
}
@media (max-width: 768px) {
  .cid-qC2Il7r5Ca .second-col {
    padding-top: 2rem;
  }
}
.cid-qC2AsOIyBQ {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qC2AsOIyBQ .mbr-text {
  color: #444;
  letter-spacing: 0.1em;
}
.cid-qC2AsOIyBQ .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qC2AsOIyBQ .social-list .mbr-iconfont-social {
  font-size: 1.1rem;
  color: black;
}
.cid-qC2AsOIyBQ .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qC2AsOIyBQ .social-list a {
  margin: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qC2AsOIyBQ .social-list a:hover {
  opacity: .4;
}
@media (max-width: 991px) {
  .cid-qC2AsOIyBQ .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qC2AsOIyBQ .media-container-row > div {
  padding: 0px;
}
@media (max-width: 991px) {
  .cid-qC2AsOIyBQ .mbr-text {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }
}
.cid-qC2AsOIyBQ .links {
  text-align: left;
}
.cid-qC2C96BF97 .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-qC2C96BF97 .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-qC2C96BF97 .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-qC2C96BF97 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qC2C96BF97 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qC2C96BF97 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qC2C96BF97 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qC2C96BF97 .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qC2C96BF97 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qC2C96BF97 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qC2C96BF97 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-qC2C96BF97 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: 70%;
    word-break: break-word;
  }
  .cid-qC2C96BF97 .navbar .navbar-toggler {
    flex-basis: 30%;
  }
  .cid-qC2C96BF97 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qC2C96BF97 .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-qC2C96BF97 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qC2C96BF97 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qC2C96BF97 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qC2C96BF97 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qC2C96BF97 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qC2C96BF97 .dropdown-item.active,
.cid-qC2C96BF97 .dropdown-item:active {
  background-color: transparent;
}
.cid-qC2C96BF97 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qC2C96BF97 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qC2C96BF97 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qC2C96BF97 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-qC2C96BF97 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qC2C96BF97 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qC2C96BF97 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qC2C96BF97 .navbar-buttons {
  text-align: center;
}
.cid-qC2C96BF97 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qC2C96BF97 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qC2C96BF97 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qC2C96BF97 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qC2C96BF97 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qC2C96BF97 .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qC2C96BF97 .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-qC2C96BF97 .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
